<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-6 col-md">
          <h5>Divi Her</h5>
          <ul class="list-unstyled text-small justify-center">
            <li><a class="text-muted" target="_blank">Tratamientos para adelgazar, Colágeno, Energizantes.</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>NAVEGACIÓN</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted"><a href="/">Inicio</a> </a></li>
            <li><a class="text-muted"><a href="/">Productos</a></a></li>
            <li><a class="text-muted" href="tel:3195048604">Contactenos al 3195048604</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Nuestros principales productos: </h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted">LIFE-DIG</a></li>
            <li><a class="text-muted">LIBI-LIFE</a></li>
            <li><a class="text-muted">GRAVI-LIFE</a></li>
            <li><a class="text-muted">JUFRES</a></li>
            <li><a class="text-muted">PROTEC-LIFE</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Contactenos</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://api.whatsapp.com/send?phone=+573202607685&text=Estoy+interesado+en+comprar+el+producto" target="_blank">Eliana Salazar Blanco</a></li>
            <li><a class="text-muted" href="https://www.facebook.com/Belleza-sin-remordimientos-Bogot%C3%A1-623658088281891/" target="_blank"><i class="fa fa-twitter">Facebook</i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
