<div class="bg-info px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
    Detalles de Orden de Compra
</div>
<div class="p-4">
    <p class="font-italic mb-4">El costo puede variar.</p>
    <ul class="list-unstyled mb-4">
        <li class="d-flex justify-between py-3 border-bottom">
            <strong class="text-muted">Subtotal de la orden: </strong>
            <strong>{{subtotal | currency: '$'}}</strong>
        </li>
        <li class="d-flex justify-between py-3 border-bottom">
            <strong class="text-muted">Compra: </strong>
            <strong>{{shippingPrice | currency: '$'}}</strong>
        </li>
        <li class="d-flex justify-between py-3 border-bottom">
            <strong class="text-muted">Total: </strong>
            <strong>{{total | currency: '$'}}</strong>
        </li>
    </ul>
</div>
