<carousel>
  <slide>
    <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%; height: 100%;">
  </slide>
  <slide>
    <img src="assets/images/hero2.jpg" alt="second slide" style="display: block; width: 100%; height: 100%;">
  </slide>
</carousel>
<section>
  <div class="d-flex justify-content-center pt-4">
    <h1>Bienvenido</h1>
  </div>
</section>
<div class="container">
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-7">
      <h2 class="featurette-heading">Baja de peso. <span class="text-muted">Quema grasa.</span>

      </h2>
      <p class="lead">Para bajar de peso se toma una cápsula diaria según indicaciones en ayunas con agua tibia y después de media hora ya puede ingerir desayuno, o con agua al clima y pero debe tomar el desayuno luego de una hora. Para mantenerse saludable debe ingerir una cápsula durante el día después del desayuno, o si lo desea después del almuerzo</p>
    </div>
    <div class="col-md-5">
      <img src="/assets/images/items/belly.jpg" alt="first slide" style="  display: block;">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2 padding-left-20">
      <h2 class="featurette-heading ml-5">Componentes. <span class="text-muted">Vitis-vinifera, calcio, fósforo, zinc, cobre, selenio, vitamina C
        .</span>
      </h2>
      <p class="lead ml-5">Potente Antioxidante, ayuda a combatir los radicales libres, hidratante, protectora y energética, cuida el sistema inmunológico y previene la formación de coágulos en la sangre, reduce la hipertensión arterial, la formación de cataratas, el riesgo cardiovascular, ideal para el tratamiento de venas várices y arañitas

      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/assets/images/items/weight.jpg" alt="first slide" style="display: block;">
    </div>
  </div>

</div>
